/*********************************************************************
***
*Original Author:    Anthony Patterson           *
*Date Created:       02/23/2024                  *
*Version:            1                           *
*Date Last Modified: 03/01/2024                  *
*Modified by:        Anthony Patterson           *
*Modification log:                               *
***
******************************************************************** */
body {
    background: linear-gradient(to bottom, rgba(104, 3, 3), rgba(46, 3, 3));
    color: rgb(154, 132, 10);
}

h1 {
    text-align: center;
    padding: 10px;

}

p{
    font-size: 40px;
}
.photo_gallery {
    display: flex;
    justify-content: space-around;
}

.gallery_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_image {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    transition: width 0.2s, height 0.2s;
}