/*********************************************************************
***
*Original Author:    Anthony Patterson           *
*Date Created:       02/26/2024                  *
*Version:            3                           *
*Date Last Modified: 03/01/2024                  *
*Modified by:        Anthony Patterson           *
*Modification log: 
2- file named changed to styles.css
2- add font-size: larger to h1
2- add text-align: center
2- change nav ul
3- added linear gradient and flex to body        *
***
******************************************************************** */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgba(104, 3, 3), rgba(46, 3, 3));
    color: rgb(154, 132, 10);
}

main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

nav {
    text-align: center;
    padding: 10px;
    border-radius: 10px;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: inline-block;
    padding: 15px 40px;
    text-decoration: none;
    color: rgb(154, 132, 10);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    transform: scale(1.05);
}

.center_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.center_content p {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
}

#homeImage {
    width: auto; 
    height: 300px; 
    border-radius: 10px;
    padding-top: 200px;
    padding-left: 100px;
}

#prevButton,
#nextButton {
    background: none;
    border: none;
    color: white;
    font-size: larger;
    cursor: pointer;
    margin-top: 10px;
}
