body {
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\xmasa\AppData\Local\Temp\6f1b445d-f040-4f4e-8350-1200f657f088_Banner.zip.088\Home.png');
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
